.hover-icon {
    transition: all 0.25s;
}

.hover-icon:hover {
  background-color: #2FA2B7;
}

.background-red {
    background-color: red;
}

.background-darkgrey{
    background-color: darkgrey;
}

.background-lightgrey{
    background-color: lightgrey;
}

.chess-square {
    border: 4px solid black;
}

.board-row {
    display: block;
    overflow: auto;
}

.drag-and-drop-square {
    border: 4px solid black;
}
